.card-main-container {
   height: 200px;
   width: 250px;
   background-color: #FFFFFF;
   border-radius: 5px;
   box-shadow: -11px 2px 12px 8px rgba(243,236,236,0.71);
   -webkit-box-shadow: -11px 2px 12px 8px rgba(243,236,236,0.71);
   -moz-box-shadow: -11px 2px 12px 8px rgba(243,236,236,0.71);
   margin-left: 20px;
}
.card-icon {
    
    height: 20px;
    width: 20px;
    padding: 20px 20px;
}
.upper-container {
    display: flex;
}
.name {
    padding: 20px 0;
    color: #977A68;
    margin: 0 0 ;
}
.no {
    font-size: 22px;
    margin: 0 0;
    padding: 0 20px;
    border-bottom: 1px solid #977A68; 
}
.second-half {
    display: flex;
    margin: 0 0;
    padding: 0 0;
}
.second-half-first {
    display: flex;
}